@media (min-width: 640px) and (max-width: 900px) {
    .column2{
        grid-template-columns: 1fr 2fr;
    }
    .join .card fieldset {
        width: 300px;
    }

    .grid section {
        min-height: 250px;
      }

    .list section h3 {
      min-width: 100px;
    }

    .list section a {
      display: block;
      word-wrap: break-word;
      overflow-wrap: break-word;
      max-width: 180px;
      text-align: justify;
      text-align-last: left;
    }

    form.form_contact{
      width: 62%;
    }

    .noMovil{
      display: block;
    }

    .movil{
        display: none;
    }
  }
  