@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Open+Sans:400,700|PT+Sans+Narrow:400,700');

:root {
  --label: #200772;
  --blue: #445ba9;
  --gray: #555;
  --inputs: rgba(0,0,0,0.1);
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

header {
    background-color: #002d5f;
    color: #fff;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: left;
}

header > img {
    width: 70px;
    margin: 10px;
}

header h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0;
}

.imagen-con-efecto {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .imagen-con-efecto img {
    max-width: 100%;
    height: auto;
  }
  
  .capa-oscura {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 38px);
    background-color: rgba(0, 0, 0, 0.4);
    /*pointer-events: none;*/
  }
  
  .btn-custom {
    position: absolute;
    top: calc(50% - 27px);
    left: calc(50% - 98px);
    background: #743F5B;
    color: #fff;
    padding: 15px 25px;
    background-size: 400%;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 15px;
    overflow: hidden;
    font-size: 15px;
  }

  .btn-custom:hover {
    background: #743757;
  }
  

.title2{
    margin-top:0;
}

nav{
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: #333;
    font-size: 18px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center; 
    margin-top: 1px;
    margin-bottom: 1px
}

nav li {
    display: none;
    margin: 0 10px; 
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    text-decoration: none;
    color: #068dee;
}

#menu {
	font-size: 1.5rem;
    border: none;
	/*border: 1px solid rgba(0,0,0,.3);*/
	padding: .25rem .75rem;
    background: none;
	color: white;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "✕";
}

main,.content,.column2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    /*border-radius: 5px;*/
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);*/
}

main{
  margin-top: -35px;
  padding-top: 50px;
}

.column2, .join, .thankyou{
  margin-top:0px
}

.card {
    background-color: #f9f9f9;
    padding: 0px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #004087;
  color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.125);
  padding: 0.75rem 1.25rem;
  position: relative;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card-header .card-title{
  margin: 0;
}

.card-header.center{
  text-align: center;
}

.card-body{
  padding: 20px;
}


.title,.mapa,.footer-end{
    grid-column: 1 / -1; 
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer p {
    margin: 0;
}

footer div:nth-child(2) {
    align-self: center;
}

footer > div > a{
    color: #83c9ff;
}

a {
    /*color: #0078d4;*/
    text-decoration: none;
    transition: color 0.3s;
}

.flag{
    width: 20px;
    height: 15px;
}

.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

/* ---------------------------------------*/

.switch {
    position: absolute;
    top: 70px;
    right: 10px;
    display: inline-block;
    width: 50px;  /* 60px*/
    height: 24px; /* 34px*/
  }

  .bannerShow{
    top: 150px;
  }

  #menu.bannerShow{
    top:calc(1rem + 80px);
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #044995;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 16px; /*26px*/
    width: 16px; /*26px*/
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .pictures > picture > img{
    width: 100%;
  }


/*----------- FORM --------------*/

form{
  text-align: center;
}

form fieldset{
  text-align: initial;
  margin: 2rem 0;
  border: 1px solid var(--blue);
  border-radius: 10px;
  padding: .5rem 2%;
}
form legend {
  color: var(--blue);
  margin: 0 1rem;
  padding: 0 .5rem;
}

form label.top, form div, .lb{
  display: block;
  padding-top: 1rem;
  color: var(--label);
  font-size: .8rem;
}

form label.top input, form label.top select{
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  color: var(--gray);
  width: 85%;
  /*max-width: 14rem;*/
  background-color: var(--inputs);
}

form label.top textarea{
  width: 95%;
  background-color: var(--inputs);
}

form label.sbs{
  display: block;
  padding: .75rem 0;
  color: var(--gray);
}

form input.submitBtn{
  border: none;
  background-color: var(--label);
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 85%;
  /*max-width: 20rem;*/
}

form label.top input:required{
  border-left: red solid 6px;
}

form label.top input:required:valid{
  border-left: green solid 6px;
}

form label.lb{
  /*max-width: 16rem;*/
}

form label input#r{
  display: block;
  width: 85%;
}

#r {
margin-bottom: 0;
}

#rangevalue {
font-size: 2rem;
color: navy;
}

#rangevalues {
display: flex;
  margin-right: -2rem;

}

#rangevalues option {
flex: 1 1 auto;
}

.thankyou{
  display: block;
}

.thankyou .card{
  max-width: 400px;
  margin: auto;
}

.join .card fieldset{
  margin: auto;
  width: 230px;
  padding: 20px;
  margin-bottom: 20px;
}
/*--------------Benefits----------------------*/

.card.benefits h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center; /* Center-align the heading */
}

.card.benefits p {
  color: #555;
  margin-bottom: 10px;
  text-align: center; /* Center-align the paragraph */
}

.card.benefits ul {
  list-style-type: disc;
  margin-left: auto; /* Center-align the list */
  margin-right: auto;
  padding-left: 20px;
  max-width: 400px; /* Limit the width of the list */
}

.card.benefits li {
  color: #777;
  margin-bottom: 15px;
  text-align: left; /* Left-align the list items */
}

.card.benefits strong {
  color: #000;
}

.card.benefits fieldset{
  width: initial !important;
  max-width: 500px;
  border-radius: 10px;
}

/*  directory */

.article{
  display: block !important;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
	padding: 0.5rem;
  padding-bottom: 40px;
	/*max-width: 900px;*/
	background-color: #fff;
	font-family: Roboto, Helvetica, sans-serif;
}

.menu_article {
	margin: 1rem auto;
	padding: 0.5rem;
	text-align: center;
}

.icons_menua{
  width: 25px;
  height: 25px;
}

.selected{
  background-color: #307fd54a;
}

.menu_article button {
	padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 10px;
	font-weight: 700;
  border: 2px solid rgb(31, 49, 82);
  border-radius: 15px;
}

section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #eee;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

.grid section {
	text-align: center;
  min-height: 200px;
}

.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
}

.grid section > * {
	margin: 0.1rem;
}

.grid h3 {
	/*font-family: "Caveat", cursive;*/
  display: none;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: block;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.list section a {
	display: block;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 265px;
  text-align: justify;
  text-align-last: left;
}

.list section:nth-child(even) {
	background-color: #307fd54a;
}

main article section h3 {
	font-size: 1.5rem;
}

main article section p {
	font-weight: 600;
	font-size: smaller;
}

main article section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.85rem;
	color: navy;
	letter-spacing: 1.1pt;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

main article section img {
  height: 75px;
  max-width: 100%;
}

.weather-content {
  /*padding: 2em;*/
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-primary, .weather-second {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.weather-primary {
  justify-content: space-around;
  width: 90%;
  margin: 0;
}

.weather-second {
  justify-content: space-between;
  width: 50%;
  margin-top: 0;
}

.weather-second.wind {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.weather-hr {
  width: 100%;
  border: solid;
  border-width: thin;
  color: rgb(189, 189, 189);
}

.weather-humidity {
  justify-content: left;
}

.weather-humidity {
  margin: 0;
  font-size: small;
}

.forecast-content {
  width: 100%;
}

.imgTemp {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.forecast {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;

  font-size: small;
  font-weight: 500;
}

.imgForeContent {
  width: 4em;
}

.tempForeContent {
  font-weight: 700;
}

.description{
  margin-top: 0.3em;
  font-style: italic;
}

/* --------- BANNER --------- */

  #bannerMeet, #bannerMeet.show {
  background: linear-gradient(to left, #05193700, var(--color1) 40%);
  width: 100%;
  height: 5em;

  display: flex;
  align-items: center;

  position: relative;
  background-color: #1e1e1e;
}

#bannerMeet.noShow {
  display: none;
}

.bannerMeetDiv{
  padding: 1em 1.3em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;

  width: 90%;
  margin: 0 auto;
  
}

.bMeetTitle {
  margin: 0;
  font-weight: 500;
  color: white;
}

.bannerMeetDiv h6 {
  font-weight: 400;
  margin: 0;
  margin-top: .5em;
  color: white;
}

.b2Info {
  font-size: x-small;

  display: flex;
  flex-direction: row;
  align-items: center;

  margin-left: 3em;
}

.b2Info p {
  padding: .7em 1.2em;
  border-radius: 2em;
  color: white;
  font-weight: 500;
  margin: 0;
  border: 1px solid white;
}

.b2Info a {
  display: none;
}

#exitLarge {
  border: none;
  background-color: #004bad00;
  position: absolute;
  right: .5em;
  top: .5em;
}

#exitLarge:hover {
  cursor: pointer;
}

#exitIconLarge {
  color: #ffffffd0;
  width: 1.2em;
  height: 1.2em;
}
 
